@media screen and (max-width:980px){
  .center{padding: 0 25px;}
}


@media screen and (max-width:780px){
  .wrap{justify-content: start;}
  .container{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(9, minmax(100px, auto)); padding: 20px 0;}
 /*  repeat(9 인 이유: 첫번째 아이템이 4개를 합친 것이지 때문에 총 9로 계산해야함 */
  .container .item:nth-child(1),
  .container .item:nth-child(2),
  .container .item:nth-child(3),
  .container .item:nth-child(4),
  .container .item:nth-child(5){grid-column-start: 1; grid-column-end: 3;}

  .inputContainer{grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(5, minmax(100px, auto));  padding: 20px 0;}
  .inputContainer .item{grid-column-start: 1; grid-column-end: 3;}
  .inputContainer .item.subPfBar{display: none;}

/* button box style */
  .btns{justify-content: center;}
  .btns button, .btns a{padding: 5px 20px; font-size: 12px;}


  /* footer style */
  footer{position: relative;}

  /* schedule board page style */
  .item.boardBox .boardTable span{font-size: 12px;}

  /* detail view page style */
  .item.viewBox .viewTable span{font-size: 12px;}



  
}


@media screen and (max-width:600px){

  .item.inputBox .projectCate{font-size: 12px; width: 100%; }
  .item.inputBox .projectTit{font-size: 12px; width: 100%; margin-top: 5px;}
  .item.inputBox .projectCon{font-size: 12px;}

  
  
  /* schedule board page style */
  .item.boardBox .boardTable span.boNum{display: none;}
  .item.boardBox .boardTable span.boReg{width: 30%;}

  .categoryTabs{text-align: center;}

  /* detail view page style */
  .item.viewBox .viewTable span.boNum{display: none;}
  .item.viewBox .viewTable span.boReg{width: 30%;}

  .item.viewBox .detailTit h2{font-size: 14px;}

}





@media screen and (max-width:400px){
  header .headerWrap h1{font-size: 16px;}

  .container{grid-template-rows: repeat(9, minmax(70px, auto));}

  .circle-graph p{font-size:18px; font-weight: 400;}

  .subPfBar .pfImg{font-size: 20px;}

  /* button style */
  .btns button, .btns a{width: 33.33%;}

  /* footer style */
  footer{padding: 10px 15px;}
  footer p{font-size: 12px;}

  
  /* schedule board page style */
  .item.boardBox .boardTable span.boCate{display: none;}
  .item.boardBox .boardTable span.boTit{width: 60%;}
  .item.boardBox .boardTable span.boReg{width: 40%;}
  
  /* detail view page style */
  .item.viewBox .viewTable span.boCate{display: none;}
  .item.viewBox .viewTable span.boCon{width: 60%;}
  .item.viewBox .viewTable span.boReg{width: 40%;}
  

}